.c-quad {
  height: 50%;
  width: 50%;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.c-quad__img {
  max-width: 90%;
}

.c-site {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
}
